# Rename to .env to set the secrets of the server

# Set to production when deploying to production
NODE_ENV=development

# Node.js server configuration
PORT=9000
HOST_URL=http://localhost:9000
SESSION_SECRET=MySuperCoolAndAwesomeSecretForSigningSessionCookies

# Auth configuration
# To generate: node -e "console.log(require('crypto').randomBytes(32).toString('hex'));"
JWT_SECRET=93b20a7bf68f4678728da01efcdda6fe73d6a7b5d5168310c4f22d5b9b47c85d

# SMTP Server config to send email
SMTP_HOST=smtp.mailtrap.io
SMTP_PORT=2525
SMTP_USER=6d7db097fbdf76
SMTP_PASSWORD=56af7f2eb004e5

# Firebase Phone Auth
# To get a new one, go to Firebase console -> Project -> Add web app -> in the JSON data -> apiKey
FIREBASE_API_KEY=0123456789abcdefghijklmnopqrstuvwxyz